<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path "Arene.jpg" %>');">
  <div class="form">
    <h2 class="title">Résultat</h2>
    <div class="row text-center">
      <%= link_to personnages_path do %>
        <i class="fas fa-undo"></i>
      <% end %>
    </div>
    <br>
    <% @combat.joueurs.each do |joueur| %>
    <div class="grids background text-center">
      <%= cl_image_tag joueur.personnage.photo, height: 220, width: 200 %>
      <h4 class='title'><%= joueur.personnage.nom %></h4>
      <h4 class='title'><%= joueur.result %></h4>
    </div>
    <% end %>
  </div>
</div>
