<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path "Arene.jpg" %>');">
  <div class="container content">
    <br>
    <h2 class='text-center title'>Tous les personnages !</h2>
    <br>
    <%= link_to "Créer un nouveau personnage", new_personnage_path, class: 'btn btn-flat' %>
    <br>
    <%= link_to "Commencer un combat", new_combat_path, class: 'btn btn-flat' %>
    <br>
    <div class="cards">
      <% @personnages.each do |personnage| %>
        <%= link_to personnage_path(personnage) do %>
          <div class="card-trip">
            <%= cl_image_tag personnage.photo, height: 300, width: 400 %>
            <div class="card-trip-infos">
              <h2><%= personnage.nom %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
